

<div class="wrapper">
    <div class="page-header section-dark" style="object-fit: cover;background-image: url('https://img4.thuthuatphanmem.vn/uploads/2020/04/07/hinh-nen-trung-thu-sac-mau_061528323.jpg')">
<!--        <div class="filter"></div>-->
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">MOONLIGHT</h1>
                </div>
                <h2 class="presentation-subtitle text-center">WELCOME TO MOON LIGHT FESTIVAL</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>

    <div class="main">
        <div style="background-color: black">
            <div class=" container">
        <div style="background-color: black" class="row">
                <div class="col-md-11 mr-auto ml-auto mt-5">
                    <h3 style="font-weight: 600; color: white" class="title">MOONLIGHT FESTIVAL</h3>
                    <p style="color: white" class="description">The Mid-Autumn Festival (Chinese: 中秋節 / 中秋节), also known as the Moon Festival or Mooncake Festival,
                        is a traditional festival celebrated in Chinese culture. Similar holidays are celebrated in Japan (Tsukimi),
                        Korea (Chuseok), Vietnam (Tết Trung Thu), and other countries in East and Southeast Asia.

                        It is one of the most important holidays in Chinese culture; its popularity is on par with that of Chinese New Year.
                        The history of the Mid-Autumn Festival dates back over 3,000 years.<br> <br>The festival is held on the 15th day of the 8th month of the Chinese lunisolar calendar with a full moon at night, corresponding to mid-September to early October of the Gregorian calendar.<br><br> On this day, the Chinese believe that the Moon is at its brightest and fullest size, coinciding with harvest time in the middle of Autumn.<br><br>

                        Lanterns of all size and shapes, are carried and displayed – symbolic beacons that light people's path to prosperity
                        and good fortune. Mooncakes, a rich pastry typically filled with sweet-bean, egg yolk, meat or lotus-seed paste,
                        are traditionally eaten during this festival.<br><br> The Mid-Autumn Festival is based on the legend of Chang'e,
                        the Moon goddess in Chinese mythology.</p>
                </div>
        </div>
        </div>

        <div style="background-color: black" class=" size-video mb-5 mt-5">
            <h3 style="color: white; font-weight: 500" class="section__title-video mb-3"> VIDEO INTRODUCE MOONLIGHT FESTIVAL</h3>
            <iframe class="section__size-video" src="https://www.youtube.com/embed/Uh834ZBWmQg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

<!--        backgroud-->
        <div style="background-size: 100% 100%;background-repeat: no-repeat;background-image: url('https://i.pinimg.com/originals/69/9d/cf/699dcfd53de0612fe90f500c802ce662.jpg')">
            <div class=" container">
                <div class="row">
                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px 0">
                        <div class=" col-md-5">
                            <h3 style="color: white">Meaning</h3>
                            <p style="color: white">The festival celebrates three fundamental concepts that are closely connected:
                                Gathering, such as family and friends coming together, or harvesting crops for the festival.
                                It is said the Moon is the brightest and roundest on this day which means family reunion. Consequently,
                                this is the main reason why the festival is thought to be important.
                                Thanksgiving, to give thanks for the harvest, or for harmonious unions
                                Praying (asking for conceptual or material satisfaction), such as for babies, a spouse, beauty, longevity,
                                or for a good future.
                                <a [routerLink]="['/viewmainweb']" style="color: #31b0d5" class="">read more...</a>
                               </p>
                        </div>
                        <div class=" col-md-5 mt-5">
                            <img style="object-fit: cover; height: 225px" class="img-moonlight-festival" src="https://i.pinimg.com/736x/7e/d2/82/7ed282ecc249f9d2bbf39fce431094cb.jpg">
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px 0">
                        <div class=" col-md-5">
                            <h3 style="color: white">Origins and development</h3>
                            <p style="color: white">The Chinese have celebrated the harvest during the autumn full moon since
                                the Shang dynasty (c. 1600–1046 BCE).The term mid-autumn (中秋) first appeared in Rites of Zhou,
                                a written collection of rituals of the Western Zhou dynasty (1046–771 BCE). As for the royal court,
                                it was dedicated to the goddess Taiyinxingjun (太陰星君; Tàiyīn xīng jūn). This is still true for
                                Taoism and Chinese folk religion.

                                The celebration as a festival only started to gain popularity during the early Tang dynasty (618–907 CE). One legend explains that Emperor Xuanzong of Tang started to hold formal celebrations in his palace after having explored the Moon-Palace.
                                <a [routerLink]="['/viewmainweb']" style="color: #31b0d5" class="">read more...</a>
                              </p>
                        </div>
                        <div  class=" col-md-5 mt-5">
                            <img style="object-fit: cover; height: 265px" class="img-moonlight-festival" src="https://i0.wp.com/www.writtenchinese.com/wp-content/uploads/2015/09/ad816fccbec47e8d9ee64152560b13f3.jpg?fit=550%2C344&ssl=1">
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px 0">
                        <div  class=" col-md-5">
                            <h3 style="color: white">Moon worship</h3>
                            <p style="color: white">An important part of the festival celebration is Moon worship.
                                The ancient Chinese believed in rejuvenation being associated with the Moon and water,
                                and connected this concept to the menstruation of women, calling it "monthly water".
                                The Zhuang people, for example, have an ancient fable saying the Sun and Moon are a couple and the stars are their
                                children, and when the Moon is pregnant, it becomes round,
                                and then becomes crescent after giving birth to a child.
                                <a [routerLink]="['/viewmainweb']" style="color: #31b0d5" class="">read more...</a>
                            </p>
                        </div>
                        <div class=" col-md-5 mt-4">
                            <img style="object-fit: cover; height: 225px" class="img-moonlight-festival" src="https://static.vecteezy.com/system/resources/thumbnails/009/738/423/original/full-moon-rises-chinese-mid-autumn-festival-art-free-video.jpg">
                        </div>
                    </div>


                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px 0">
                        <div  class=" col-md-5">
                            <h3 style="color: white">Mooncakes</h3>
                            <p style="color: white">Making and sharing mooncakes is one of the hallmark traditions of this festival.
                                In Chinese culture, a round shape symbolizes completeness and reunion. Thus, the sharing and eating
                                of round mooncakes among family members during the week of the festival signifies the completeness and unity
                                of families. In some areas of China,
                                there is a tradition of making mooncakes during the night of the Mid-Autumn Festival.
                                <a [routerLink]="['/viewmainweb']" style="color: #31b0d5" class="">read more...</a>
                            </p>
                        </div>
                        <div class=" col-md-5 mt-3">
                            <img style="object-fit: cover; height: 225px" class="img-moonlight-festival" src="https://static.wixstatic.com/media/763bf2_810ddd99c34c4a8ab79c1292b8dfe7ef~mv2.jpg/v1/fill/w_640,h_434,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/763bf2_810ddd99c34c4a8ab79c1292b8dfe7ef~mv2.jpg">
                        </div>
                    </div>



                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px 0">
                        <div  class=" col-md-5">
                            <h3 style="color: white">Other foods and food</h3>
                            <p style="color: white"> Imperial dishes served on this occasion included nine-jointed lotus roots which symbolize peace,
                                and watermelons cut in the shape of lotus petals which symbolize reunion. Teacups were placed on stone tables
                                in the garden, where the family would pour tea and chat, waiting for the moment when the full moon's reflection
                                appeared in the center of their cups. Owing to the timing of the plant's blossoms,
                                cassia wine is the traditional choice for the "reunion wine" drunk on the occasion.
                                <a [routerLink]="['/viewmainweb']" style="color: #31b0d5" class="">read more...</a>
                            </p>
                        </div>
                        <div class=" col-md-5 mt-5">
                            <img style="object-fit: cover; height: 225px" class="img-moonlight-festival" src="https://www.seriouseats.com/thmb/eSwyM_aGOCHzpElBjsSUqpz860U=/1500x1125/filters:fill(auto,1)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__images__2015__09__20150919-midautumnfeast-fiona-reilly-20150919-midautumnfeast-header2-fiona-reilly-48d741c081a946c08990b3205c187861.jpg">
                        </div>
                    </div>


                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px 0">
                        <div  class=" col-md-5">
                            <h3 style="color: white">Games and activities</h3>
                            <p style="color: white"> During the 1920s and 1930s, ethnographer Chao Wei-pang conducted research on traditional
                                games among men, women and children on or around the Mid-Autumn day in the Guangdong Province.
                                These games relate to flights of the soul, spirit possession, or fortunetelling.

                                One type of activity, "Ascent to Heaven" (Chinese: 上天堂 shàng tiāntáng) involves a young lady
                                selected from a circle of women to "ascend" into the celestial realm. While being enveloped in the
                                smoke of burning incense, she describes the beautiful sights and sounds she encounters.
                                Another activity, "Descent into the Garden" (Chinese: 落花园 luò huāyuán), played among younger girls,
                                detailed each girl's visit to the heavenly gardens.
                                <a [routerLink]="['/viewmainweb']" style="color: #31b0d5" class="">read more...</a>
                            </p>
                        </div>
                        <div class=" col-md-5 mt-5">
                            <img style="object-fit: cover; height: 292px" class="img-moonlight-festival" src="http://www.halongbaycruise.vn/halongbay-images/news/img1/trungthu-quay-do-choi-truye.jpg">
                        </div>
                    </div>




                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px 0">
                        <div  class=" col-md-5">
                            <h3 style="color: white">Lanterns</h3>
                            <p style="color: white">A notable part of celebrating the holiday is the carrying of brightly lit lanterns,
                                lighting lanterns on towers, or floating sky lanterns. Another tradition involving lanterns is to write riddles
                                on them and have other people try to guess the answers
                                (simplified Chinese: 灯谜; traditional Chinese: 燈謎; pinyin: dēng mí; lit. 'lantern riddles').

                                It is difficult to discern the original purpose of lanterns in connection to the festival,
                                but it is certain that lanterns were not used in conjunction with Moon-worship prior to the Tang dynasty.
                                Traditionally, the lantern has been used to symbolize fertility, and functioned mainly as a toy and decoration.
                                But today the lantern has come to symbolize the festival itself.
                                <a [routerLink]="['/viewmainweb']" style="color: #31b0d5" class="">read more...</a>
                            </p>
                        </div>
                        <div class=" col-md-5 mt-5">
                            <img style="object-fit: cover; height: 265px" class="img-moonlight-festival" src="http://img.cdn2.vietnamnet.vn/Images/english/2017/10/01/02/20171001023735-1.jpg">
                        </div>
                    </div>

                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 20px 0">
                        <div class=" col-md-5">
                            <h3 style="color: white">Celebration</h3>
                            <p style="color: white">The festival was a time to enjoy the successful reaping of rice and wheat with food
                                offerings made in honor of the moon. Today, it is still an occasion for outdoor reunions among
                                friends and relatives to eat mooncakes and watch the Moon, a symbol of harmony and unity.
                                During a year of a solar eclipse, it is typical for governmental offices, banks, and schools
                                to close extra days in order to enjoy the extended celestial celebration an eclipse brings.
                                The festival is celebrated with many cultural or regional customs, among them.
                                <a [routerLink]="['/viewmainweb']" style="color: #31b0d5" class="">read more...</a>
                            </p>
                        </div>
                        <div  class=" col-md-5 mt-5">
                            <img style="object-fit: cover; height: 225px" class="img-moonlight-festival" src="https://margaretcruises.com/wp-content/uploads/2018/08/mid-autumn-festival-is-time-for-kids.jpg">
                        </div>
                    </div>
                    <div class="section"></div>
                </div>
            </div>
        </div>
        </div>











            <div class=" mt-3 mb-3" id="carousel">
                <div class="container">
                    <div class="tim-title">
                        <br>
                        <h3 class="section__title-video mb-3"> SOME PICTURES MOONLIGHT FESTIVAL</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto">
                            <div class="card page-carousel">
                                <ngb-carousel>
                                    <ng-template ngbSlide>
                                        <img style="width: 727px; height: 382px; object-fit: cover;"  src="https://baohaspa.vn/wp-content/uploads/goi-y-nhung-dia-diem-ngam-trang-ram-trung-thu-cho-ba-bau-tai-ha-noi-7.jpg" alt="Random third slide">
                                        <div class="carousel-caption">
                                            <p>Lantern Festival</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img style="width: 727px; height: 382px; object-fit: cover;" src="https://greenbuildingplus.com/wp-content/uploads/2019/09/0banguon-goc-tet-trung-thu-o-viet-nam-1.jpg" alt="Random third slide">
                                        <div class="carousel-caption">
                                            <p>Moonlight festival</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img style="width: 727px; height: 382px; object-fit: cover;" src="https://img.meta.com.vn/Data/image/2021/08/11/hinh-anh-banh-trung-thu-2.jpg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <p>Food traditional</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img style="width: 727px; height: 382px; object-fit: cover;" src="https://cafebiz.cafebizcdn.vn/2018/9/24/photo-1-15377848754901638771070.jpg" alt="Random second slide">
                                        <div class="carousel-caption">
                                            <p>Lantern in the Moonlight festival</p>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img style="width: 727px; height: 382px; object-fit: cover;" src="https://pdp.edu.vn/wp-content/uploads/2021/06/hinh-anh-trung-thu-1.jpg" alt="Random third slide">
                                        <div class="carousel-caption">
                                            <p>the scene of Moonlight</p>
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



<br>
            <div class="mt-5">
            <div class="container">
                <h3 class="section__title-video mb-3"> Select country you want to research</h3>
                <h5>you can explore the country you want to know, click to see the festival moonlight information of that country </h5>
                <div class=" row example-page">

                    <div class="col-md-4 text-center card btn-round pb-3 " routerLinkActive="active">
                        <a [routerLink]="['/vietnam']">
                            <img src="https://www.itourvn.com/images/easyblog_articles/368/vietnam-moon-festival.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/vietnam']" class="btn-default btn btn-round"> VietNam</a>
                        </a>
                    </div>
                    <div class="col-md-4 text-center card btn-round pb-3 " routerLinkActive="active">
                        <a [routerLink]="['/japan']">
                            <img src="https://i2.wp.com/visitmatsumoto.com/wp-content/uploads/2018/03/DSC_58211.jpg?fit=800%2C532&ssl=1" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/japan']" class="btn-default btn btn-round"> Japan</a>
                        </a>
                    </div>
                    <div class="col-md-4 text-center card btn-round pb-3 " routerLinkActive="active">
                        <a [routerLink]="['/china']">
                            <img src="https://img.gmw.cn/images/attachement/jpg/site2/20180925/f44d305ea5531d13df5538.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/china']" class="btn-default btn btn-round"> China</a>
                        </a>
                    </div>
                </div>





            </div>

        </div>
<!--            <div class="section-image section-login" style="background-image: url('assets/img/login-image.jpg');">-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <div class="container">-->
<!--            <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-8 ml-auto mr-auto text-center">-->
<!--                            <br>-->
<!--                            <br>-->
<!--                            <br>-->
<!--                            <h2 class="title">Feedback for us</h2>-->
<!--                            <p class="description">If u feel unsatisfied about web site please feedback for us to make website become success more. Thank you because remind.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--        </div>-->
<!--        validate feedback -->
<!--        <div style="margin-top: 20px; z-index: 9999" class="col text-center" routerLinkActive="active">-->
<!--            <a [routerLink]="['/feedback']" class="btn btn-outline-neutral btn-round">Feedback</a>-->
<!--        </div>-->
<!--    </div>-->

</div>
</div>
<br>
<br>
<br>
