
<footer class="footer" *ngIf="isAuthenticated" >
    <div class="container footer-bgr">
        <div class="row">
            <a class="footer-logo" href="#home"><span class="footer-logo-text">MOONLIGHT</span></a>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <span class="footer_title">
                            Contact Us
                        </span>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        &nbsp;024 7300 8855
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="aptech.fpt@fe.edu.vn">&nbsp;&nbsp;aptech.fpt@fe.edu.vn</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        &nbsp;Số 8A Tôn Thất Thuyết, Mỹ Đình, Nam Từ Liêm, Hà Nội, Việt Nam.
                    </li>
                    <li>
                        <i class="fa-solid fa-globe"></i>
                        <a href="https://aptech.fpt.edu.vn">&nbsp;aptech.fpt.edu.vn</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a class="btn-feedback footer_title" [routerLink]="['/feedback']">Feedback</a>
                    </li>
                    <li>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2030.5782593793024!2d105.78242816465064!3d21.028806539186867!
                        2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab86cece9ac1%3A0xa9bc04e04602dd85!2zRlBUIEFwdGVjaCBIw6AgTuG7mWkgLSBI4buH
                        IFRo4buRbmcgxJDDoG8gVOG6oW8gTOG6rXAgVHLDrG5oIFZpw6puIFF14buRYyBU4bq_IChTaW5jZSAxOTk5KQ!5e0!3m2!1svi!2s!4v1665741586166!5m2!1svi!2s"
                                class="footer-map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </li>
                </ul>
            </nav>
        </div>
      
    </div>
</footer>
